**/target/
**/.idea/
**/.vscode/
**/*.iml
**/.git/
**/node_modules/
**/.env
**/*.md
**/docs/
**/postman/
**/.mvn/
**/mvnw
**/mvnw.cmd
**/.DS_Store
**/Thumbs.db
docker-compose*.yml
Dockerfile
**/Dockerfile
.env.example
.gitignore
.dockerignore
